body{
	margin:0;
	padding:0;
	
}
@font-face{
	font-family:s2;
	src:url(fuentes/s2.ttf);
	}

	
	@font-face{
	font-family:X2;
	src:url(fuentes/X2.ttf);
	}

	
	@font-face{
	font-family:E;
	src:url(fuentes/E.ttf);
	}
	
	@font-face{
	font-family:P;
	src:url(fuentes/P.ttf);
	}
	
	@font-face{
	font-family:F;
	src:url(fuentes/F.ttf);
	}
	
	@font-face{
	font-family:v;
	src:url(fuentes/v.ttf);
	}
	
	
.pt1{
	color:#FFFFFF;
	font:bold 100px F,verdana,sans-serif;
	text-align:center;
	margin-top:-10px;
	

}

.pt2{
	color:#FFFFFF;
	font:bold 60px F,verdana,sans-serif;
	text-align:center;
	margin-top:-100px;
	
}


.ini{
	font:bold 40px F,verdana,sans-serif;
	padding:8px;
	display:block;
	background-color:#FFFFFF;
	border-radius:5px;
	width:120px;
	margin-top:-20px;
	text-decoration:none;
	color:#2F4F4F;
	border-radius:10px;

	
}


.paco{
	display:block;
	text-decoration:none;

	
}

div a:hover{
	text-shadow:3px 3px 3px #483D8B;
	-moz-transform:scale(1);
	-webkit-transform:scale(1.1);
	display:block;
	float:none;
	cursor:pointer;


}


#don1{
	width:180px;
	margin-top:1px;
	margin-left:30px;
	
	
}

#don2{
	width:200px;
	margin-left:900px;
	margin-top:-200px;
	
}

video{
	position:fixed;
	min-width:100%;
	min-height:100%;
	
	top:50%;
	left:50%;
	
	width:auto;
	height:auto;
	
	transform:translateX(-50%) translateY(-50%);
	z-index: -1/*posicion del elemento del eje Z; todos los elementos esten por delante en este caso las letras; para que el contenido se vea*/
	
}

.lex{
	font:bold 80px v,verdana,sans-serif;
	color:#9d2f00;
	margin-top:20px;
	text-shadow: 7px 5px 3px rgba(147, 150, 147, 0.68);


}

.btn-ttc,
.btn-ttc:hover,
.btn-ttc:active {
  color: white;
  background-color: #9D2F00;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  width:120px;
  height:45px;
}

.acua{
	font:bold 25px X2,verdana,sans-serif;

}


.mango{
	margin-top:5px;
	margin-left:30px;
	
}

	
}

